# -----------------------------
# Dependencies
# -----------------------------
node_modules/

# -----------------------------
# Playwright outputs
# -----------------------------
playwright-report/
test-results/
blob-report/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# OS / Editor files
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log
